apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
etcd:
  endpoints:
{% for item in ETCD_ADDRESS %}
  - "{{ item.proto }}://{{ item.ip }}:{{ item.port }}"
{% endfor %}
token: "{{ KUBEADM_TOKEN.stdout }}"
tokenTTL: "0"
